:root {
  --bgcolor1: #12223c;
  --bgcolor2: #104a7d;
  --bgcolor3: #f6d76b;
  --bgcolor4: #45a9ff;
  --txtcolor1: #f6f0f7;
  --fontfamily:  'Lato', sans-serif;
}
body {
  background-color: var(--bgcolor2);
  font-family: var(--fontfamily);
  text-align: center;
}
.page-header {
  background-color: var(--bgcolor1);
  padding: 20px;
}
.pokemon-logo {
  /* width: 25%; */
  max-width: 100%;
  margin: 2%;
}
form {
  display: flex;
  align-items: center;
}
.search-box {
  border: none;
  font-size: 1.5vw;
  color: var(--txtcolor1);
}
.btn-primary {
  width: 250px;
  max-width: 100%;
  margin: 2px;
}
.list-group {
  /*removes the markers/bullets*/
  list-style-type: none;
  padding: 20px;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}
.group-list-item {
  background-color: var(--bgcolor3);
  margin: 5px;
  padding: 10px;
  border-radius: .3rem;
}
.modal-image {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .search-box {
    float: none;
    width: 100%;
    font-size: 4vw;
    margin: 0 auto;
  }

}
