:root {
  --bgcolor1: #12223c;
  --bgcolor2: #104a7d;
  --bgcolor3: #f6d76b;
  --bgcolor4: #45a9ff;
  --txtcolor1: #black;
  --txtcolor2: #f6f0f7;
}
body {
  text-align: center;
  background-color: var(--bgcolor2);
}
.container-fluid {
  background-color: var(--bgcolor1);
}
.pokemon-logo {
  max-width: 100%;
}
.btn-primary {
  background-color: var(--bgcolor4);
  color: var(--txtcolor1);
  width: 250px;
  max-width: 100%;
  margin: 2px;
}
.btn-primary:hover {
  background-color: var(--bgcolor1);
  color: var(--txtcolor2);
}
.list-group {
  /*removes the markers/bullets*/
  list-style-type: none;
  padding: 20px;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}
.group-list-item {
  background-color: var(--bgcolor3);
  margin: 5px;
  padding: 10px;
  border-radius: .3rem;
}
.modal-image {
  width: 50%;
}
